.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: $colorQuaternary;
    padding: 30px;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
